<p>Stores that have $brand.getName()</p>
<ul>
  #foreach ($store in $stores)
    <li>$store.getName()</li>
  #end
</ul>
<br>

<a href="/brands/$brand.getId()/store/add">Add Stores to carry this brand</a>
