<p>Stores that have $brand.getName()</p>
<ul>
  #foreach ($store in $stores)
    <li>$store.getName()</li>
  #end
</ul>
<br>
<a href="/stores/$store.getId()/brands/update">Add Stores to carry this brand</a>
