<h2>All The Brands!!!!!</h2>

<ul>
  #foreach ($brand in $brands)
    <li>
      <a href="brands/$brand.getId()/stores">
        $brand.getName()
      </a>
    </li>
  #end
</ul>
<h2>Add a New One?! YASSSS!!!!</h2>
<form action="/brand/new" method="post">
  <label for ="name"> Brand Name</label>
  <input id="name" name="name" type="text">
  <br>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
